[submodule "cmake/modules"]
	path = cmake/modules
	url = ../../localizethedocs/modules.git
	branch = main
[submodule "cmake/plugins"]
	path = cmake/plugins
	url = ../../localizethedocs/plugins.git
	branch = main
