# IDE-specific directories and configuration files.
/.vscode/
/.idea/
/CMakeLists.txt.user
/CMakeUserPresets.json

# Possible CMake build directories.
/out/
/build/
/cmake-debug-build/

# Non-essential project-related directories and files.
/.conda/
/.venv/
/l10n/
